html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }



  


  /* Newsletter */

.newsletter {

z-index : 9999;
right : 0;
left : 0;
width : 100%; 
margin : auto;
padding : 18px;
transition : all .4s cubic-bezier(.4, 0, .2, 1);
background: #F0C27B; /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #F0C27B , #4B1248); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #F0C27B , #4B1248); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.newsletter.bottom {
bottom : -210px;
animation-name : cpnewsletterbottom;
animation-duration : 1s;
animation-iteration-count : 1;
border-radius : 10px 10px 0 0;
}

@keyframes cpnewsletterbottom {
0% {
    transform : translateY(100%);
}
100% {
    transform : translateY(0%);
}
}


.newsletter.bottom .newsletter-icon {
margin : -24px auto 35px;
}

.newsletter.bottom:hover .newsletter-icon {
margin-bottom : 0;
}

.newsletter.top {
top : -55px;
animation-name : cpnewslettertop;
animation-duration : 1s;
animation-iteration-count : 1;
border-radius : 0 0 10px 10px;
}

@keyframes cpnewslettertop {
0% {
    transform : translateY(-100%);
}
100% {
    transform : translateY(0%);
}
}

.newsletter.top form {
margin-bottom : 150px;
transition : all .8s cubic-bezier(.4, 0, .2, 1);
}



.newsletter.top .newsletter-icon {
position : absolute;
bottom : 0;
left : 50%;
margin : 0 0 -40px -30px !important;
}

.newsletter-icon {
width : 70px;
height : 70px;
text-align: center;
line-height: 30px;
cursor : pointer;
transition : all .8s cubic-bezier(.4, 0, .2, 1);
animation : cpnewslettericon 2s infinite;
border-radius : 100%;
box-shadow : 0 0 0 2px #8194ff;
background: #F0C27B; /* fallback for old browsers */
background: -webkit-linear-gradient(to top, #F0C27B , #9c27b0); /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to top, #F0C27B , #9c27b0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
color: #FFF;
font-size: 22px;
}

@keyframes cpnewslettericon {
0% {
    box-shadow : 0 0 0 2px #9C27B0;
}
50% {
    box-shadow : 0 0 0 1px #9C27B0;
}
90% {
    box-shadow : 0 0 0 4px #9C27B0;
}
100% {
    box-shadow : 0 0 0 1px #9C27B0;
}
}


.newsletter-title {
font-size : 26px;
margin-top : 10px;
text-align : center;
color : #FFF;
}

.newsletter form {
margin : 26px auto;
text-align : center;
}

@media screen and (min-width: 584px) {
.newsletter form {
    width : 460px;
}
}

.newsletter input {
display : inline-block;
}

.newsletter input:focus ,
.newsletter textarea:focus {
outline : none;
box-shadow : none;
}

.newsletter input[type=email] {
width : 70%;
padding : 10px;
border : none;
border-radius : 20px 0 0 20px;
background: rgba(255,255,255,0.2);
}

.newsletter input[type='submit'] {
width : 21%;
padding : 10px;
cursor : pointer;
color : #ffffff;
border : none;
border-radius :0 20px 20px 0;
background : #4b1348;
}

.newsletter input[type='submit']:hover {
opacity : .9;
}

@media screen and (max-width: 625px) {
.newsletter.bottom .newsletter-icon {
    margin : -42px auto 70px;
}
.newsletter.bottom {
    bottom : -175px;
}

.newsletter.top {
    top : -208px;
}

.newsletter {
    width : 97%;
    padding : 0 10px;
}
.newsletter-title {
    font-size : 18px;
}
.newsletter input[type=email] {
    width : 62%;
}
.newsletter input[type='submit'] {
    width : 30%;
}
}






/* ---------Hover Overlay text Effect--------- */

    .overlay-item {
       display: block;
       position: relative;
       overflow: hidden;
       text-align: center;

    }
    .overlay-item .mask {
       display: block;
       position: absolute;
       overflow: hidden;
       top: 0;
       left: 0;
       height: 100%;
    }
    .overlay-item img {
       display: block;
       width: 100%;
       height: auto;
       x-margin-right: auto;
       x-margin-left: auto;
    }
    .overlay-item h3 {
      font-weight: bolder;
      font-size: 15px;
       text-align: center;
       position: relative;
       padding: 0px;
       margin: 0px 0px 20px 0px;
       display: block;

    }
    .overlay-item p {
      font-size: 13px;
       text-align: left;
    }
    .overlay-item a.btn {
      margin: 10px 0;
    }

    .overlay-effect img {
       -webkit-transform: scaleY(1);
       -moz-transform: scaleY(1);
       -o-transform: scaleY(1);
       -ms-transform: scaleY(1);
       transform: scaleY(1);
       -webkit-transition: all 0.7s ease-in-out;
       -moz-transition: all 0.7s ease-in-out;
       -o-transition: all 0.7s ease-in-out;
       -ms-transition: all 0.7s ease-in-out;
       transition: all 0.7s ease-in-out;
    }
    .overlay-effect .mask {
       background-color: rgba(255, 255, 255, 0.3);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
    }
    .overlay-effect h3 {
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -o-transform: scale(0);
       -ms-transform: scale(0);
       transform: scale(0);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
    }
    .overlay-effect p {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -o-transform: scale(0);
       -ms-transform: scale(0);
       transform: scale(0);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
    }
    .overlay-effect a.btn {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
       -webkit-transform: scale(0);
       -moz-transform: scale(0);
       -o-transform: scale(0);
       -ms-transform: scale(0);
       transform: scale(0);
       -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
       -o-transition: all 0.5s linear;
       -ms-transition: all 0.5s linear;
       transition: all 0.5s linear;
    }
    .overlay-effect:hover img {
       -webkit-transform: scale(10);
       -moz-transform: scale(10);
       -o-transform: scale(10);
       -ms-transform: scale(10);
       transform: scale(10);
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=0)";
       filter: alpha(opacity=0);
       opacity: 0;
    }
    .overlay-effect:hover .mask {
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
    }
    .overlay-effect:hover h3,.overlay-effect:hover p,.overlay-effect:hover a.btn {
       -webkit-transform: scale(1);
       -moz-transform: scale(1);
       -o-transform: scale(1);
       -ms-transform: scale(1);
       transform: scale(1);
       -ms-filter: "progid: DXImageTransform.Microsoft.Alpha(Opacity=100)";
       filter: alpha(opacity=100);
       opacity: 1;
    }





  /* testimonial */
    @import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style-type: none;
}
a, a:hover {
  text-decoration: none;
}

 {
  font-family: 'Montserrat', sans-serif;
}
.testimonial {
  padding: 100px 0;
  height: 30%;
}
 .testimonial .row .tabs {
  all: unset;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
}
.testimonial .row .tabs li {
  all: unset;
  display: block;
  position: relative;
}

 .testimonial .row .tabs li.active::before {
  position: absolute;
  content: "";
  width: 50px;
  height: 50px;
  background-color: #71b85f;
  border-radius: 50%;
}

 .testimonial .row .tabs li.active::after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #71b85f;
  border-radius: 50%;
}

 .testimonial .row .tabs li:nth-child(1) {
  align-self: flex-end;
}

 .testimonial .row .tabs li:nth-child(1)::before {
  left: 64%;
  bottom: -50px;
}

 .testimonial .row .tabs li:nth-child(1)::after {
  left: 97%;
  bottom: -81px;
}

 .testimonial .row .tabs li:nth-child(1) figure img {
  margin-left: auto;
}

 .testimonial .row .tabs li:nth-child(2) {
  align-self: flex-start;
}

 .testimonial .row .tabs li:nth-child(2)::before {
  right: -65px;
  top: 50%;
}

 .testimonial .row .tabs li:nth-child(2)::after {
  bottom: 101px;
  border-radius: 50%;
  right: -120px;
}

 .testimonial .row .tabs li:nth-child(2) figure img {
  margin-right: auto;
  max-width: 300px;
  width: 100%;
  margin-top: -50px;
}

 .testimonial .row .tabs li:nth-child(3) {
  align-self: flex-end;
}

 .testimonial .row .tabs li:nth-child(3)::before {
  right: -10px;
  top: -66%;
}

 .testimonial .row .tabs li:nth-child(3)::after {
  top: -130px;
  border-radius: 50%;
  right: -46px;
}

 .testimonial .row .tabs li:nth-child(3) figure img {
  margin-left: auto;
  margin-top: -50px;
}

 .testimonial .row .tabs li:nth-child(3):focus {
  border: 10px solid red;
}

 .testimonial .row .tabs li figure {
  position: relative;
}

 .testimonial .row .tabs li figure img {
  display: block;
}

 .testimonial .row .tabs li figure::after {
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  border: 4px solid #dff9d9;
  border-radius: 50%;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

 .testimonial .row .tabs li figure:hover::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

 .testimonial .row .tabs.carousel-indicators li.active figure::after {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

 .testimonial .row .carousel > h3 {
  font-size: 20px;
  line-height: 1.45;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  margin-bottom: 0;
}

 .testimonial .row .carousel h1 {
  font-size: 40px;
  line-height: 1.225;
  margin-top: 23px;
  font-weight: 700;
  margin-bottom: 0;
}

 .testimonial .row .carousel .carousel-indicators {
  all: unset;
  padding-top: 43px;
  display: flex;
  list-style: none;
}

 .testimonial .row .carousel .carousel-indicators li {
  background: #000;
  background-clip: padding-box;
  height: 2px;
}

 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper {
  margin-top: 42px;
}

 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper p {
  font-size: 18px;
  line-height: 1.72222;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.7);
}

 .testimonial .row .carousel .carousel-inner .carousel-item .quote-wrapper h3 {
  color: #000;
  font-weight: 700;
  margin-top: 37px;
  font-size: 20px;
  line-height: 1.45;
  text-transform: uppercase;
}
@media only screen and (max-width: 1200px) {
  
   .testimonial .row .tabs {
    margin-right: 25px;
  }
}
